<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express-Dev-Show-Show</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<body>
    <h3><%= skill.skill %></h3>
    <h3>ID: <%= skill.id %></h3>
    <h3>Achievement: <%= skill.done ? 'Complete' : 'incomplete' %></h3>
</body>
</html>