body {
  display: flex;
  flex-direction: column;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

a {
  color: deeppink;
  font-size: 20px;
}

h1 {
  background-color: orange;
}
h3 {
  color: orange;
}

ul {
  color: red;
}

p {
  color: darkgreen;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
	
.delete-form button {
  color: red;
}
	
li {
  list-style: none;
}